<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onQuiqqerProductsCalcListProduct" fire="\QUI\ERP\Discount\EventHandling::onQuiqqerProductsCalcListProduct"/>
    <event on="onQuiqqerProductsCalcList" fire="\QUI\ERP\Discount\EventHandling::onQuiqqerProductsCalcList"/>
    <event on="onQuiqqerProductsCalcProduct" fire="\QUI\ERP\Discount\EventHandling::onQuiqqerProductsCalcListProduct"/>
</events>