
.discount-edit td {
    width: 50%;
}

.field-container-item:first-child {
    width: 150px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.discount-edit-vat {
    height: 32px
}

.discount-edit-vat .field-container-field,
.discount-edit-vat .field-container-item {
    line-height: 30px;
    padding: 0 0.75em;
}

.quiqqer-discount-entry-edit-buttons {
    float: left;
    height: 40px;
    width: 100%;
}

.quiqqer-discount-entry-edit-buttons .qui-button-switch {
    background: #ededed !important;
    color: black;
}

.quiqqer-discount-entry-edit-buttons .qui-button-switch:hover {
    color: #6a6a6a;
}